@font-face {
    font-family: 'Gilroy';
    src: url('@/assets/fonts/Gilroy-Regular.woff2') format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy';
    src: url('@/assets/fonts/Gilroy-Semibold.woff2') format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: 'Gilroy';
    src: url('@/assets/fonts/Gilroy-Bold.woff2') format("opentype");
    font-weight: 700;
}