h1, h2, h3, h4, p, a, li {
    margin: 0;
    font-style: normal;
    color: #333333;
}

h1, .main-title {
    font-family: $BebasNeue;
    font-size: 124px;
    line-height: 100%;

    @include breakpoint(extra-small) {
        font-size: 50px;
    }
}

h2, .title {
    font-family: $BebasNeue;
    font-size: 64px;
    line-height: 77px;

    @include breakpoint(small) {
        font-size: 36px;
        line-height: 43px;
    }
}

h3, .subtitle {
    font-family: $BebasNeue;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.1em;

    @include breakpoint(small) {
        font-size: 28px;
        line-height: 34px;
    }
}

h4, .h4 {
    font-family: $Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.02em;

    @include breakpoint(small) {
        font-size: 17px;
        line-height: 130%;
    }
}

p, .text {
    font-family: $Gilroy;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #828282;

    @include breakpoint(small) {
        font-size: 14px;
    }
}

a, .link {
    font-family: $Gilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    @include breakpoint(small) {
        font-size: 17px;
        line-height: 21px;
    }
}
